# The differents Types of data in Python

## Print type in Python with **type**

In [1]:
print(type(11))
print(type(21.213))
print(type(True))

<class 'int'>
<class 'float'>
<class 'bool'>

## Converting in another type in Python

In [2]:
one=1
print(type(one))

<class 'int'>

In [3]:
print(one)

1

In [5]:
one = float(one)

In [6]:
one

1.0

In [9]:
print(type(one))

<class 'float'>

In [10]:
two = 2.5

In [11]:
print(type(two))

<class 'float'>

In [12]:
two = int(two)

In [13]:
print(two)

2

In [14]:
print(type(two))

<class 'int'>

In [15]:
isStudent = True

In [16]:
print(isStudent)

True

In [17]:
value = int(isStudent)

In [18]:
print(value)

1

In [19]:
isAuth = False

In [20]:
number = float(isAuth)

In [22]:
print(number)

0.0

In [23]:
number1 = 15.6

In [25]:
number1 += 12

In [27]:
number1

27.6

In [28]:
number1 = str(number1)

In [29]:
number1

'27.6'

In [30]:
print(type(number1))

<class 'str'>

In [33]:
number1 += '12'

In [34]:
number1

'27.612'

In [35]:
nom = 'Camara'

In [36]:
print(type(nom))

<class 'str'>

In [37]:
anotherValue = int(nom)

ValueError: invalid literal for int() with base 10: 'Camara'